[Unit]
Description=TESmart HKS401 UART Controller
After=local-fs.target
Before=kvmd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/hks401d
Restart=on-failure
RestartSec=2
User=root
Group=root

[Install]
WantedBy=multi-user.target
